<section class="awards">

      <h2 class="section-headline">
        Our Awards &amp; Affiliations
      </h2>

    <div class="row">
      <table class="awards-table">
        <tr>
          <td>
            <a href="https://www.ncdd.com/" target="_blank">
              <%= image_tag 'awards/national-college-for-dui-lawyers.jpg' %>
            </a>
          </td>
          <td>
            <a href="http://www.bbb.org/northern-colorado/business-reviews/lawyers/eric-a-sunness-attorney-at-law-in-fort-collins-co-46085021#sealclick" target="_blank">
              <%= image_tag 'awards/logo-bbb-dui-lawyer.png' %>
            </a>
          </td>
          <td>
            <a href="http://www.leadcounsel.org/" target="_blank">
              <%= image_tag 'awards/logo-lc-dui-lawyer.png' %>
            </a>
          </td>
          <td>
            <a href="https://www.avvo.com/attorneys/80524-co-eric-sunness-1418307.html" target="_blank">
              <%= image_tag 'awards/avvo-rating-criminal-defense-lawyer.png' %>
            </a>
          </td>
        </tr>
      </table>
    </div><!-- .row -->

    <div class="row">
      <table class="awards-table">
        <tr>
          <td>
            <a href="http://www.duidla.org/" target="_blank">
              <%= image_tag 'awards/logo-dui-defense-attorney.png' %>
            </a>
          </td>
          <td>
            <a href="http://www.martindale.com/Eric-A-Sunness/308692-lawyer.htm" target="_blank">
              <%= image_tag 'awards/logo-av-criminal-defense-attorney.png' %>
            </a>
          </td>
          <td>
            <a href="https://www.ctlanet.org/" target="_blank">
              <%= image_tag 'awards/logo-ctla-criminal-defense-attorney.png' %>
            </a>
          </td>
          <td>
            <a href="http://www.nafdd.org/site/page/view/home" target="_blank">
              <%= image_tag 'awards/logo-superior-dui-attorney.png' %>
            </a>
          </td>
        </tr>
      </table>
    </div><!-- .row -->

</section>
