<section class="awards">

      <h2 class="section-headline">
        Our Success Speaks for Itself
      </h2>

    <div class="row">
      <table class="awards-table">
        <tr>
          <td>
            <%= image_tag 'awards/national-college-for-dui-lawyers.jpg' %>
          </td>
          <td>
            <%= image_tag 'awards/logo-bbb-dui-lawyer.png' %>
          </td>
          <td>
            <%= image_tag 'awards/logo-lc-dui-lawyer.png' %>
          </td>
          <td>
            <%= image_tag 'awards/avvo-rating-criminal-defense-lawyer.png' %>
          </td>
        </tr>
      </table>
    </div><!-- .row -->

    <div class="row">
      <table class="awards-table">
        <tr>
          <td>
            <%= image_tag 'awards/logo-dui-defense-attorney.png' %>
          </td>
          <td>
            <%= image_tag 'awards/logo-av-criminal-defense-attorney.png' %>
          </td>
          <td>
            <%= image_tag 'awards/logo-ctla-criminal-defense-attorney.png' %>
          </td>
          <td>
            <%= image_tag 'awards/logo-superior-dui-attorney.png' %>
          </td>
        </tr>
      </table>
    </div><!-- .row -->

</section>
