<%= render partial: "static/hero_section" %>
<div class="container">
  <%= render partial: "static/awards_section" %>
</div>
<%= render partial: 'static/practice_areas_section' %>
<%= render partial: "static/bio_section" %>
<%= render partial: 'static/contact_section' %>
