<header>
    <div class="container-fluid" id="header-content">
      <div class="row">
          <h1 id="header-logo"><%= link_to(image_tag("Eric-Sunness-DUI-Lawyer-Criminal-Justice-Lawyer.png"), root_path) %></h1>
          <h2 id="header-slogan">Call for a free initial consultation on criminal and DUI cases</h2>
          <h3 id="header-phone"><span>Main: </span><a href="tel:+1-970-372-2036">970-372-2036</a></h3>
          <h3 id="header-fax-phone"><span>Fax:</span> <a href="tel:+1-970-493-3625"> 970-493-3625</a></h3>
      </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "DUI", fort_collins_dui_lawyer_path %></li>
            <li><%= link_to "Criminal Justice", fort_collins_criminal_justice_lawyer_path %></li>
            <li><%= link_to "Case Results", root_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
</header>
