<aside class="row">
  <div class="row">
    <div class="col-sm-3 col-md-12">
      <%= image_tag "eric-sunness-dui-lawyer-help-book.png", class: "center-block sidebar-image" %>
    </div>
    <div class="col-sm-9 col-md-12">
      <p class="center-text">Eric has written a book to help people with their DUI Defense. Enter your email address below to receive a FREE Copy.</p>
    </div>
    <div class="col-sm-9 col-md-12">
      <%= render partial: "layouts/ebook_form" %>
    </div>
  </div>

  <hr class="sidebar-divider">

  <div class="row eric-quote">
    <div class="col-sm-5 col-md-12">
      <%= image_tag "eric-sunness-dui-attorney-fort-collins.png", class: "sidebar-image center-block" %>
    </div>
    <div class="col-sm-7 col-md-12">
      <p class="center-text">"The forceful style of lawyering does not benefit anybody but the lawyer. I believe that individuals require a careful legal advisor, one who can verbalize realities to the lead prosecutor, the opposite side, or the judge, and one who has a strong understanding of what's sensible."</p>
      <p class="center-text">-- Eric A. Sunness, Attorney at Law</p>
    </div>
  </div>

  <hr class="sidebar-divider">

  <div class="row">
    <div class="student-discount center-text col-xs-12">
      <%= image_tag "csu-icon.png" %>
      <%= image_tag "unc-icon.png" %>
      <p class="discount-text">Student Discounts Offered</p>
    </div>
  </div>
</aside>
